body {
  margin: 0;
  padding: 0;
  font: 16px/1.5 "Josefin Sans", arial, sans-serif;
  font-weight: 300;
}
.slick-next:before,
.slick-prev:before {
  color: black;
}
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

header > .outer {
  color: #fff;
  background: #774a77;
  width: 100%;
  padding: 8px;
  font-size: 0.813rem;
}
header > .inner {
  color: #000;
  background: #fff;
  width: 100%;
  height: 60px;
  padding: 8px;
  font-size: 0.813rem;
}

.header-logo {
  width: 134px;
  height: 31px;
}
.left-container {
  height: 100vh;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.sub-nav > nav {
  background-color: rgba(246, 244, 238, 0.6);
}

.thumbnail-images {
  width: 56px;
}

.large-image {
  width: 300px;
}

.right-container {
  background-color: #f6f4ee;
  display: inline-block;
  width: 50%;
}

.yellow-star {
  color: #fab863;
}
.gray-star {
  color: #dedede;
}

.collapsible-panel {
  background-color: yellow;
}
.collapsible-panel-details-container {
  background-color: orange;
}
.language-card-container {
  display: inline-block;
  background-color: white;
  margin: 8px;
  padding: 8px;
  height: 250px;
  min-width: 165px;
}
img.language-logo {
  width: 100%;
  border: 1px solid black;
}
