body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 16px/1.5 "Josefin Sans", arial, sans-serif;
  font-weight: 300;
}

header > .outer {
  color: #fff;
  background: #774a77;
  width: 100%;
  padding: 8px;
  font-size: 0.813rem;
}
header > .inner {
  color: #000;
  background: #fff;
  width: 100%;
  height: 60px;
  padding: 8px;
  font-size: 0.813rem;
}

.header-logo {
  width: 134px;
  height: 31px;
}
.main-content-container {
}
.left-container {
  height: 100vh;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.left-container > nav {
  background-color: rgba(246, 244, 238, 0.6);
}

.thumbnail-images {
  width: 56px;
}

.large-image {
  width: 300px;
}

.right-container {
  background-color: #f6f4ee;
  display: inline-block;
  width: 50%;
}

.yellow-star {
  color: #fab863;
}

.collapsible-panel {
  background-color: yellow;
}
.collapsible-panel-details-container {
  background-color: orange;
}

img.language-logo {
  max-width: 125px;
  border: 1px solid black;
}
