body {
  margin: 0;
  padding: 0;
  font: 17px/1.5 "Josefin Sans", arial, sans-serif;
  font-weight: 300;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}
.App {
  box-sizing: border-box;
  max-width: 100vw;
  overflow: hidden;
}
button {
  font: 16px "Josefin Sans", arial, sans-serif;
  font-weight: 300;
}
img {
  border-radius: 2px;
}
a,
button.link-styling {
  font: 16px "Josefin Sans", arial, sans-serif;
  color: #3a7585;
  text-shadow: 0 0 1px rgba(58, 117, 133, 0.2);
  text-decoration: underline;
  margin-left: 5px;
}
.red-font {
  color: #c93932;
  text-shadow: 0 0 3px rgba(201, 57, 50, 0.3);
}
.strike-through {
  text-decoration: line-through;
}
.yellow-star {
  color: #fab863;
}
.gray-star {
  color: #dedede;
}

/* Buttons which have link styling */
button.link-styling {
  border: none;
  background: none;
}
button:focus {
  outline: none;
}
a:hover,
button.link-styling:hover {
  text-decoration: none;
}

/* Buttons which have button styling */
button.primary {
  background-color: #774a77;
  color: #fff;
}
button.primary:hover {
  background-color: #583658;
}
button.secondary {
  background-color: #fff;
  color: #774a77;
  text-shadow: 0 0 2px rgba(119, 74, 119, 0.3);
}
button.secondary > .space-after-fa {
  margin-right: 5px;
}
button.full-width {
  width: 100%;
}

/* Override the default styling of the slider carousel*/
.slick-next:before,
.slick-prev:before {
  color: black;
}
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

/* Navigation Headers */
nav > a,
nav > span {
  color: #6f6f6f;
  text-decoration: none;
}
nav {
  padding: 15px;
}
.breadcrumb-spacing {
  padding-left: 10px;
  padding-right: 10px;
}
header > .outer {
  color: #fff;
  background: #774a77;
  width: 100%;
  padding: 8px;
  font-size: 0.813rem;
}
header > .inner {
  color: #000;
  background: #fff;
  width: 100%;
  height: 60px;
  padding: 8px;
  font-size: 0.813rem;
}
header .header-logo {
  width: 147px;
  height: 34px;
}

.left-container {
  height: 100vh;
  float: left;
  width: calc(100% - 500px);
  top: 0;
  padding-bottom: 6px;
}
.left-container .sub-nav > nav {
  background-color: rgba(246, 244, 238, 0.6);
}
.left-container div.thumbnail-image-container {
  width: 75px;
  position: absolute;
  top: 80px;
  left: 10px;
}
.left-container img.thumbnail-image {
  width: 56px;
  margin: 5px 10px;
}
.left-container div.large-image-container {
  position: absolute;
  left: 80px;
  top: 85px;
  width: calc(100% - 80px);
  text-align: center;
}
div.large-image-container > img.large-image {
  width: 75%;
  max-height: 85vh;
}

.right-container {
  box-sizing: border-box;
  background-color: #f6f4ee;
  float: right;
  width: 500px;
  padding: 10px;
}
#developer-info-container {
  background: #fff;
  padding: 15px 20px 10px 15px;
  margin: -7px -7px 0 -7px;
  color: #6f6f6f;
}
#developer-info-container > h1 {
  color: #221924;
  margin-top: 0;
}
#developer-info-container .pricing {
  font-size: 36px;
  font-weight: 300;
}

#developer-info-container .delivery-info > p {
  color: #1d781d;
  text-shadow: 0 0 1px rgba(29, 120, 29, 0.2);
  font-weight: 400;
  padding-left: 40px;
}
#developer-info-container .delivery-info > img {
  position: absolute;
}

/* Call to Action Buttons, Sticky on RightContainer */
#call-to-action {
  background: #fff;
  padding: 24px 20px;
  z-index: 10;
  margin: 0 -7px;
}
#call-to-action button,
button.button-styling {
  font: 1.17rem "Josefin Sans", arial, sans-serif;
  font-weight: 300;
  border: 2px solid #774a77;
  border-radius: 3px;
  height: 50px;
}

#call-to-action button.primary {
  width: 60%;
}
#call-to-action button.secondary {
  width: 38%;
  margin-right: 8px;
}

.partial-view {
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 50px;
}
#gradient {
  /* border: black solid 2px; */
  /* position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0; */
  height: 70px; /* adjust it to your needs */
  width: 100%;
  background: url(data:image/svg+xml;base64,alotofcodehere);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(70%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
}

/* Collapsible Panels */
.collapsible-panel {
  background-color: #fff;
  margin: 10px 0;
}
.collapsible-panel-details-container {
  padding-left: 24px;
  padding-right: 38px;
  padding-bottom: 24px;
}
.collapsible-panel > button.collapse-button {
  width: 100%;
  padding-left: 24px;
  padding-right: 38px;
  text-align: left;
  font: 14px "Josefin Sans", arial, sans-serif;
  color: #221924;
  background: #fff;
  border: none;
  cursor: pointer;
}
.collapsible-panel > button.collapse-button:focus {
  outline-color: #cddde1;
  outline-style: solid;
  outline-width: 3px;
}
button.collapse-button > * {
  display: inline-block;
}
button.collapse-button > span.collapse-button-icon {
  float: right;
  margin-top: 15px;
}

/* Carousel Slider Content */
.language-card-container {
  display: inline-block;
  background-color: white;
  margin: 8px;
  padding: 8px 8px 15px 8px;
  height: 310px;
  min-width: 165px;
}
.language-card h3 {
  font: 1.17em/1.5 "Josefin Sans", arial, sans-serif;
  font-weight: 300;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}
.language-card > .rating {
  margin-bottom: 8px;
}

img.language-logo {
  width: 100%;
}

/* Footer */
footer {
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  display: block;
  width: 100%;
}
footer .row {
  max-width: 969px;
  width: 100%;
  margin: 0 auto;
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul a {
  margin-left: 0;
}
.col-3 {
  width: 31%;
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
